/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: sans-serif;
}

/* Grandezza di tutte le immagini massimo quanto
 il loro rispettivo contenitore sulla base della larghezza*/
img.on-width {
    width: 100%;
}

/* Grandezza di tutte le immagini massimo quanto
 il loro rispettivo contenitore sulla base dell'altezza'*/
img.on-height {
    height: 100%;
}

/* UTILITIES */

/* Flexbox */
.flex {
    display: flex;
}

/* Flex Column */
.column {
    flex-direction: column;
}

/* Flex Row */
.row {
    flex-direction: row;
}

.column-reverse {
    flex-direction: column-reverse;
}

.row-reverse {
    flex-direction: row-reverse;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.grow {
    flex-grow: 1;
}

.no-shrink {
    flex-shrink: 0;
}

.wrap {
    flex-wrap: wrap;
}


/* Clearfix per uso del float, da applicare al container */
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

/* Float left */
.float-left {
    float: left;
}

/* Float right */
.float-right {
    float: right;
}



/* CONTENT */


/* Container generale */
.conference-call {
    width: 100%;
    height: 100vh;
}


/* Barra di navigazione superiore */
.top-bar {
    background-color: black;

    flex-basis: 10%;
}

.view-settings {
    /* background-color: deepskyblue; */

    justify-content: flex-end;
    padding-right: 20px;

    flex-basis: 15%;
    column-gap: 20px;
}

.view-settings>* {
    background-color: #4a4a4a;
    border-radius: 10px;
    padding: 8px;

    align-self: center;
}


/* Schermata video partecipanti */
main {
    background-color: black;
    overflow-y: auto;

}

.users-video {
    /* background-color: yellow; */

    flex-basis: 80%;
    justify-content: center;
    height: fit-content;

    margin: 0 auto;
}

.user-video {
    width: calc(100% / 7 - 5px);
    padding: 10px 5px;
    position: relative;
}

.user-info {
    position: absolute;
    bottom: 15px;
    left: 5px;

    background-color: #8080807f;

    padding: 3px;
}


/* Barra di navigazione inferiore */
.bottom-bar {
    background-color: #222222;

    flex-basis: 15%;
}

.bottom-bar>* {
    align-items: center;
}

.mic-video {
    /* background-color: yellowgreen; */

    flex-basis: 11%;
}

.mic-video i {
    font-size: 24px;
}

.mic-video>* {
    text-align: center;
}

.videocall-settings {
    background-color: tomato;

    flex-basis: 40%;
}

#end-meeting {
    background-color: crimson;

    flex-basis: 10%;
    justify-content: center;
}


/* DEBUGGER */

.icon-placeholder {
    width: 20px;
    height: 20px;

    background-color: darkslategrey;
}